<div class="banner-container">
  <div class="banner-nav-bar">
    <div><h1><i class="fas fa-play"></i><span class="logo-title">Watch List</span></h1></div>
    <div>
      <ul class="banner-ul">
        <li>Login</li>
        <li class="btn-sign">Sign up</li>
      </ul>
    </div>
  </div>

  <div class="banner-info">
    <div>
      <p class="banner-title">MOVIES COLLECTION</p>
      <p class="banner-subtitle">All movies available right now!</p>
      <div class="btn-infos">
        <p class="btn-add"><%= link_to "Add movie", new_movie_path(@movie) %></p>
        <p class="btn-more-info"><%= link_to "Add list", new_list_path(@bookmark) %></p>
      </div>
    </div>
  </div>
</div>

<div class="movie-category">
  <p class="category-title">MY LISTS</p>
</div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4 mb-4">
        <div class="list-card-wrapper">
          <div class="list-card border bg-light position-relative">
            <!-- Apply Bootstrap's img-fluid class to make the image responsive -->
            <img src="<%= list.picture_url %>" class="img-fluid list-picture border" alt="List Picture">
            <div class="flat-card-title position-absolute top-50 start-50 translate-middle text-center">
              <%= link_to list_path(list), class:"text-decoration-none", style: "font-size: 30px; color: white;" do %>
                <%= list.name %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div> <!-- Close the row -->
</div> <!-- Close the container -->
